* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Work Sans', Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
  text-align: center;
  margin: 0 auto;
}
body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#fff;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  -webkit-transition: opacity .8s ease;
  transition: opacity .8s ease;
}
body.fadeout::after {
  opacity: 1;
}
body.fadeout article{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
section.page.one {
  position: relative;
  height:100%;
}
section.page.one img {
  width: 100%;
}
section.page.one p {
  position: absolute;
  top: 55%;
  left: 45%;
  font-size: 80px;
  color: #83d114;
}
section.page.two {
  position: relative;
  height:100%;
}
section.page.two img {
  width: 100%;
}
section.page.two p {
  position: absolute;
  top: 55%;
  left: 45%;
  font-size: 80px;
  color: #83d114;
}
section.page.three {
   position: relative;
  height:100%;
}
section.page.three img {
 width: 100%;
}
section.page.three p {
  position: absolute;
  top: 55%;
  left: 45%;
  font-size: 80px;
  color: #fff;
  }

article .navigate-anchor {
  display:inline-block;
  font-size: 22px;
  line-height: 44px;
  padding: 0 14px;
  text-decoration:none;
  color: #4ecaf8;
  background-color: #fff;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.26);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
article .navigate-anchor:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.36);
}
article .navigate-anchor:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}